
<%- include ('../partials/header') %>

<div class="accordion" id="accordionMainBody">
    <% for(let i=0; i<runs.length; i++){ %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading<%=i%>">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=i%>" aria-expanded="true" aria-controls="panelsStayOpen-collapse<%=i%>">
            <%= resorts[i].resort_name %>    -   LEVEL: <%= resorts[i].elevation %>
        </button>
      </h2>
      <div id="panelsStayOpen-collapse<%=i%>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%=i %>" data-bs-parent="#accordionMainBody">
        <div class="accordion-body">           
            <p> Runs: <%= runs %> </p>
        </div>
      </div>
    </div>
    <% } %>
</div>

<%- include ('../partials/footer') %>
